<ion-view title="Interweb app" id="page1" style="background-color:#008080;" class=" ">
    <ion-content padding="true" style="background: url(img/eApgaMOpTMeesabyDHly_tumblr_notzr7447x1uw0pmwo1_500.gif) no-repeat center;background-size:cover;" class="has-header">
        <a ui-sref="login" id="interwebApp-button6" class=" button button-positive  button-block none">Tap me!</a>
        <div>
            <style>
                .full{
                    height: 100%;
                    width: 100%;
                }
            </style>

            <div class="light-bg full center">
                <p style="padding-top: 20px;" class=" l impact center mt-10">The Greatest</p>


                <h1 class=" l times center blink assertive caps ">
                    a e s t h e t i c
                </h1>
                <img class="marquee" style="width: auto; height: 100px;" src="https://media.giphy.com/media/xohHbwcnOhqbS/giphy.gif">


                <p>
                    Application for the interconnected system of networked devices.
                </p>
            </div>
        </div>
        <div></div>
        <a ui-sref="login" id="interwebApp-button3" style="font-weight:600;font-size:20px;" class=" button button-positive  button-block win_start_button">
            <img style="margin-top: 10px" class="inline  " src="http://www.iconwanted.com/downloads/ipapun/original-windows-95/png/24x24/icon-1.png">
            <b class="times">Login to Awesomeness
                <b></b>
            </b>
        </a>
        <a ui-sref="BAreYouSupportedB" id="interwebApp-button7" class=" button button-light  button-block impact">now supported by:
            <b class=" l times chameleon">Inteliiconnect</b>
        </a>
    </ion-content>
</ion-view>