<ion-view title="<loading>Error</loading>  <loading> Error</loading><loading>Error</loading>  <loading> Error</loading><loading>Error</loading>  <loading> Error</loading><loading>Error</loading>  <loading> Error</loading><loading>Error</loading>  <loading> Error</loading>"
id="page8" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="scaling">
            <img src="img/9d9e366e-e8ec-4f51-b080-fa7f40cb722a_friendster.jpg" width="66%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-form12" class="list ">
            <div>
                <style>
                    #disabled{
                        z-index: 3;
                        position: absolute;
                           background-image: url('http://thegazelle.s3.amazonaws.com/gazelle/2013/05/hacker_animation.gif');
                        background-blend-mode: multiply;
                    height: 100vh;
                    width: 100%;
                    }
                    
                    .dis-content{
                       z-index: 4; 
                       position: relative;
                       background: RGB(188, 190, 195);
                       height: 30%;
                       margin-top: 50%;
                    }
                    
                    .pos{
                        background-image: url('http://thegazelle.s3.amazonaws.com/gazelle/2013/05/hacker_animation.gif');
                        height: 100%;
                        
                        display: block;
                    }
                </style>

                <div id="disabled">
                    <img src="https://media.giphy.com/media/TeBpzQZRaBIC4/giphy.gif" class="scaling">

                </div>

            </div>
            <label class="item item-input " id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-input15">
                <span class="input-label">Username</span>
                <input type="text" placeholder="@John Smith">
            </label>
            <label class="item item-input " id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-input16">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 1px;"></div>
            <h4 id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-heading5" style="color:#000000;font-weight:600;text-align:center;"
            class=" ">To determine if your human</h4>
            <label class="item item-select " id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-select2">
                <span class="input-label">What Is the Best Cola</span>
                <select>
                    <option>Jolt</option>
                    <option>Pepsi Clear</option>
                    <option>Vault</option>
                    <option>Coke Clear</option>
                    <option>Nuka Cola</option>
                    <option>Dave's Fancy Juice</option>
                    <option>什么他妈的是狗屎</option>
                </select>
            </label>
            <label class="item item-input " id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-textarea4">
                <span class="input-label">Whats your SSN</span><textarea placeholder="xxx-xx-xxxx"></textarea>
            </label>
            <label class="item item-input " id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-textarea5">
                <span class="input-label">Mothers Maiden Name</span><textarea placeholder="Eg; Beth"></textarea>
            </label>
            <button id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-button12" class=" button button-stable  button-block white">
                <b class="dark">
                    <img src="http://www.iconwanted.com/downloads/ipapun/original-windows-95/png/24x24/icon-70.png" height="20px" style=" display: inline; position: absolute; top: 9.8px; right: 190px;">Submit</b>
            </button>
        </form>
        <h1 id="LoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoadingLoadingErrorLoading-heading6" style="color:#E40000;" class=" "></h1>
    </ion-content>
</ion-view>